body {
    font-family:
        Atkinson Hyperlegible Next,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    background-color: var(--bg);
    color: var(--text);
}

figcaption {
    text-align: center;
}

#author {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

#author-text {
    font-weight: bold;
    align-self: center;
}

.bskypost .post-image {
    border-radius: 100%;
    max-width: 7%; /* Image will be at most 100% of its container */
    height: auto; /* This preserves the aspect ratio */
    display: block;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
}

.bskypost figcaption {
    margin-top: 10px;
}

h1 {
    font-family: "Bungee Shade", cursive;
}

hr {
    color: var(--dashed);
}

.menu a {
    background-color: var(--menu);
}

pre {
    font-family: Atkinson Hyperlegible Mono;
    border: 1px solid var(--dashed);
    box-shadow: 5px 5px 5px var(--menu);
}

code {
    font-family: Atkinson Hyperlegible Mono;
}

:root {
    --text: #000;
    --bg: #fff;
    --dashed: #ddd;
    --menu: #eee;
}

#content {
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

#email,
#title {
    margin: auto;
    text-align: center;
}

#avatar {
    width: 30%;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --text: #fff; */
/* --bg: #000; */
/* --dashed: #222222; */
/* --menu: #111111; */
/* } */
/* } */
