<template id="bluesky-post-template">
<div class="bskypost">
    <blockquote>
        <div id="post-content">
            <p>
                <div id="author">
                    <img data-key="author.avatar" class="post-image"/>
                    <div id="author-text">
                        <span data-key="author.displayName">Slow connection? No problem, <a href="{{ .Get "src" }}">link here</a>!</span> • <a data-key="url">@<span data-key="username"></span></a>
                    </div>
                </p>
            </div>
            <p data-key="record.text" class="post-text"></p>
            <p style="text-align: right"><a href="{{ .Get "src" }}">Original skeet</a></p>
        </div>
    </blockquote>
    <p></p>
</div>
</template>

<bluesky-post>
    <a href="{{ .Get "src" }}"></a>
</bluesky-post>
