name: Build and Deploy geesawra.industries

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    env:
      DEBUG_BUILD: ${{ github.ref == 'refs/heads/main' && 'false' || 'true' }}
      HUGO_ALLOW_DRAFTS: ${{ github.ref == 'refs/heads/main' && '' || '-D' }}
      RUST_LOG: atpage_publisher=debug
      DEPLOY_ENV_PRETTY: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Staging' }}
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'cloudflare-pages' || 'cloudflare-pages-staging' }}
      url: ${{ steps.cf-pages-deploy.outputs.pages-deployment-alias-url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          clean: false
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f
        with:
          hugo-version: "latest"
          extended: true
      - name: Build website
        run: hugo -d html-output ${{ env.HUGO_ALLOW_DRAFTS }}
      - name: Cache Hugo build
        uses: actions/cache@v3
        with:
          path: html-output
          key: build-${{ github.sha }}
      - name: Cache redirects file
        uses: actions/cache@v3
        with:
          path: static/_redirects
          key: redirects-${{ github.sha }}

  deploy:
    needs: [build]
    env:
      DEBUG_BUILD: ${{ github.ref == 'refs/heads/main' && 'false' || 'true' }}
      HUGO_ALLOW_DRAFTS: ${{ github.ref == 'refs/heads/main' && '' || '-D' }}
      RUST_LOG: atpage_publisher=debug
      DEPLOY_ENV_PRETTY: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Staging' }}
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'cloudflare-pages' || 'cloudflare-pages-staging' }}
      url: ${{ steps.cf-pages-deploy.outputs.pages-deployment-alias-url }}
    runs-on: ubuntu-latest
    steps:
      - name: Restore Hugo build
        uses: actions/cache@v3
        with:
          path: html-output
          key: build-${{ github.sha }}
      - name: Restore redirects file
        uses: actions/cache@v3
        with:
          path: static/_redirects
          key: redirects-${{ github.sha }}
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@9399c7bb15d4c7d47b27263d024f0a4978346ba4
        with:
          toolchain: "nightly"
          cache-workspaces: "atpage -> target"
      - name: Checkout atpage
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          clean: false
          repository: geesawra/atpage
          path: atpage
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Nuke existing site
        run: cargo -C atpage -Z unstable-options xtask nuke --pds ${{ vars.PDS_URL }} --username ${{ secrets.USERNAME }} --password ${{ secrets.PASSWORD }}
      - name: Upload new site files
        run: |
          cargo -C atpage -Z unstable-options xtask post \
            --pds ${{ vars.PDS_URL }} \
            --username ${{ secrets.USERNAME }} \
            --password ${{ secrets.PASSWORD }} \
            --src ../html-output \
            --extra-head ../html-output/opengraph.tags
      - name: Copy static files
        run: cp static/_redirects atpage/public
      - name: Deploy to Cloudflare Pages
        id: cf-pages-deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
        with:
          apiToken: ${{ secrets.CF_PAGES_KEY }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy atpage/public --project-name=geesawra-industries --commit-dirty=true
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

  notify:
    needs: [build, deploy]
    env:
      DEBUG_BUILD: ${{ github.ref == 'refs/heads/main' && 'false' || 'true' }}
      HUGO_ALLOW_DRAFTS: ${{ github.ref == 'refs/heads/main' && '' || '-D' }}
      RUST_LOG: atpage_publisher=debug
      DEPLOY_ENV_PRETTY: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Staging' }}
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'cloudflare-pages' || 'cloudflare-pages-staging' }}
      url: ${{ steps.cf-pages-deploy.outputs.pages-deployment-alias-url }}
    steps:
      - name: Grab associated PR URL
        uses: cloudposse-github-actions/get-pr@ba7d9e7db690abb3c5b84f4337cd51e75f7cfb71
        id: pr
        with:
          id: ${{ github.event.number }}
      - name: Send Pushover notification
        if: "!failure()"
        uses: dkershner6/post-api-call-action@dd657422aa9ff4a29bf01fb126376222853f31ac
        with:
          url: "https://api.pushover.net/1/messages.json"
          params: '{"title":"${{ env.DEPLOY_ENV_PRETTY }} deployment","token":"${{ secrets.PUSHOVER_TOKEN }}","user":"${{ secrets.PUSHOVER_USER }}","html":"1","message":"<a href=\"${{ steps.pr.outputs.url }}\"><b>${{ steps.pr.outputs.title }}</b></a>","url":"${{ steps.cf-pages-deploy.outputs.pages-deployment-alias-url }}"}'
